@import "../../helpers/viewports";

.video {
  background: white;
  flex: 0 0 80%;
  margin: 5px;
  width: 100%;
  height: 70%;
}

.listVideos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;

  @include viewports(up-to small) {
    justify-content: center;
  }
}

.buttonMore {
  margin-top: 15px !important;
}

.divButtonMore {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  align-items: center;
  margin: 15px;
  overflow: hidden;
  width: 45%;
  height: 100%;

  @include viewports(up-to small) {
    width: 90%;
    height: 100%;
  }
}