.login{
    // background-color: #1D1A1A;
    background-image: url('../../assets/img/backgroundLogin.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;  
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    flex-direction: column;
    .form{
        display: flex;
        flex-direction: column;
    }
}